<nav>
  <div class="site-title">
    <a href="/">
      <h1>Blog Gabriel</h1>
    </a>
    <p>A Gabriel Site</p>
  </div>
  <ul>
    <li><a href="/">Threads</a></li>
    <li><a href="/about">Sobre/About</a></li>
    <li><a href="/blogs/create">New thread</a></li>
  </ul>
</nav>